html {
  height: 100%;
  color: #fff;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
}

body {
  height: 100%;
  margin: 0;
}

.header,
.sidebar,
.ads,
.main,
.news,
.footer {
  padding: 1rem 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  grid-template-rows: 1fr 1fr 50% 1fr;
  grid-template-areas:
    "header header header"
    "sidebar ads ads"
    "sidebar main news"
    "footer footer footer";
}

.header {
  grid-area: header;
  background-color: #253b4a;
}

.sidebar {
  grid-area: sidebar;
  background-color: #ffbc00;
}

.ads {
  grid-area: ads;
  background-color: #257d92;
}

.main {
  grid-area: main;
  background-color: #ff530d;
}

.news {
  grid-area: news;
  background-color: #cb9707;
}

.footer {
  grid-area: footer;
  background-color: #0c5669;
}
